<!DOCTYPE html>
<html lang="en ">

<head>
  <script>
    </script>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IRC chat</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
  <!-- <header>
    <nav class="navbar">
      <h1 class="mainTitle">My Irc Chat</h1>
    </nav>
  </header> -->
<div id="messages"></div>
    <form action="">
      <label for="name">your message:</label>
      <input id="msg" autocomplete="off" />
      <button type="submit">Send</button>
    </form>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script>
    $(function (){

      var socket = io();

      $("form").submit(function(e) {
        e.preventDefault();

        socket.emit("chat message", $("#msg").val());
        $("#msg").val("");

        return false;
      });

      socket.on("chat message", function (msg) {
        $("#messages").append($("<p>").text(msg));
      })
    });
  </script>
</body>
</html>